body {
  background: #F5F5F5;
}

.title {
  text-align: center;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 100;

  color: #CCCCCC;
  word-break: break-word;
  line-height: 100px;

  margin-bottom: 0;
}

input[type = "checkbox"] {
  position: absolute;

  left: -9999px;
}
