.todo-main__controls {
  height: 50px;

  border-bottom: inset #E6E6E6 1px;
}

.select-all__button {
  width: 45px;
  height: 50px;

  text-align: center;

  background-image: url(../images/p_down.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

.create-new__input {
  position: absolute;

  height: 47px;
  width: 88%;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;

  color: #CCCCCC;
  padding-right: 7px;
  padding-left: 7px;
  line-height: 15px;

  border: none;
}
