.task-block {
  display: flex;

  background: #FFFFFF;

  padding: 5px;

  border-bottom: inset #E6E6E6 1px;
  min-height: 30px;
}

.task-block:hover {
  background: snow;
}

.task-block:hover
.task__delete,
.task__delete:focus {
  background-image: url(../images/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.task:before {
  position: relative;
  display: inline-block;

  width: 36px;
  height: 36px;

  content: " ";

  background-image: url(../images/checkbox.svg);
  background-color: transparent;
  background-repeat: no-repeat;

  margin-right: 10px;
  margin-top: 2px;
  vertical-align: middle;

  border: solid transparent 1px;
  border-radius: 50%;
}

input:checked +
.task +
.task__text {
  color: #CCCCCC;

  text-decoration: line-through;
}

input:checked + .task:before {
  width: 36px;
  height: 36px;

  background-image: url(../images/checked.svg);
  background-position: center;
  background-color: transparent;

  border: solid #5DC2Af 1px;
  border-radius: 50%;
}

.task:before +
.task__checkbox:focus {
  border: solid #4D90FE 1px;
  border-radius: 50%;
}

.task__text {
  width: 100%;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;

  word-break: break-word;
  line-height: 21px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.task__delete {
  width: 35px;
  height: 35px;

  background: #FFFFFF;

  border: none;
}
